@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --tg-theme-bg-color: #F5F5DC;
  --tg-theme-text-color: #5C4033;
}

body {
  background-color: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
}